


<link rel="stylesheet" type="text/css" href="../css/util.css">
<link rel="stylesheet" type="text/css" href="../css/main.css">

	
		
	
		

<div class="bg-img" style="background-image: url('../img/background1.png');">	


		<div class="container-login100">

		<div class="wrap-login100">
			<h1 class="w3-xxxlarge" style="text-align: center">
				<img src="../img/ymagis.png" alt="Girl Hat" style="width: 70%;"
					class="w3-padding-16">

			</h1>
			<br>
			<br>
			<form class="login100-form validate-form" ng-submit="login()">


				<br> <br>

				<div class="wrap-input100 validate-input">

					<input class="input100" type="text" ng-model="username"
						id="username" placeholder="Nom d'utilisateur">


				</div>

				<div class="wrap-input100">

					<input class="input100" type="password" id="pwd"
						ng-model="password" placeholder="Mot de Passe">
				</div>

				<div class="container-login100-form-btn">
					<div class="wrap-login100-form-btn">
						<div class="login100-form-bgbtn"></div>
						<button type="submit" class="login100-form-btn">Se
							Connecter</button>
					</div>
				</div>
				<br>
				<div class="alert alert-info margin-top-5" ng-show="message">{{message}}</div>

			</form>
		</div>
	</div>

</div>
