<div ng-controller="MaterielController" class="container">
	<div id="tabs" class="container">

		<div class="tabs">
			<a ng-click="activetab=1" ng-class="[ activetab == 1 ? 'active' : '' ]">home</a>
			<a ng-click="activetab=2" ng-class="[ activetab == 2 ? 'active' : '' ]">add</a>
		</div>

		<div class="content">
			<div ng-if="activetab == 1" class="tabcontent">
				<!--<a ui-sref="search" data-toggle="tab">Chercher un materiel</a>-->

				<div ui-view="home"></div>

			</div>

			<div ng-if="activetab === 2" class="tabcontent">
				<div ui-view="add"></div>
				<!--<button ng-click=newProduct()  data-toggle="tab">Ajouter un nouveau materiel</button>-->
			</div>

	<!--<ul class="nav nav-pills">-->
		<!--<li class="active"><a ui-sref="search" data-toggle="tab">Chercher un materiel</a></li>-->
		<!--<li ><button ng-click=newProduct()  data-toggle="tab">Ajouter un nouveau materiel</button></li>-->
		<!--<li><a ui-sref="#" data-toggle="tab">Menu 3</a></li>-->
	<!--</ul>-->
</div>
</div>
</div>
<!-- //ui-sref="newProduct" -->