<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" /> 





<div class="card " style="box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;">
 <div class="card-header text-white bg-info" style="text-align: center;">
   <h3> Enregitrements d'un nouveau Emprunt</h3>
  </div>
<div>
<div class="card-body formulaire">
<div class="select-boxes" >
					<div class="container">
						<div >
							 <br>
							<form name="empruntForm" novalidate>
								
									<!-- champs client-->
									<div class="form-group row flex-v-center" ng-class="{ 'has-error' : empruntForm.name.$invalid && !empruntForm.name.$pristine }">
										<div class="col-sm-3">
											<label class="col-md-12 control-label" style="text-align: right;">Client</label>
										</div>
										<div class="col-md-4  inputGroupContainer">
											<div class="input-group">
												<span style="background: #3c7cdd; background-color: rgb(11, 147, 189);color: aliceblue;"
													class="input-group-addon"><i
													class="glyphicon glyphicon-user" ></i></span> <select
													style="width: 150%; height: 40px;" ng-model="name"
													name="nom_client" class="form-control selectpicker"
													ng-options="o as o for o in options" required>
												</select>
												
											</div>

										</div>
									</div>
									
									<!-- champs Materiel-->
                                   <div class="form-group row flex-v-center"
											ng-class="{ 'has-error' : empruntForm.materiel.$invalid && !empruntForm.materiel.$pristine }">
											<div class="col-sm-3">
											<label class="col-md-12 control-label" style="text-align: right;">Materiel</label>
											</div>
											<div class="col-md-4  inputGroupContainer">
												<div class="input-group">
													<span style="background: #3c7cdd;background-color: rgb(11, 147, 189); color: aliceblue;"
														class="input-group-addon"><i
														class="glyphicon glyphicon-list-alt"></i></span> <select
														style="width: 150%; height: 40px;" name="materiel"
														class="form-control selectpicker" ng-model="designation"
														ng-change="chercherMateriel(designation)"
														ng-options="d for d in materielsDesignation" required>
													</select>
												</div>
											</div>

										</div>
									<!-- champs Qantite-->
							<div class="form-group row flex-v-center"
								ng-class="{ 'has-error' : empruntForm.quantite.$invalid && !empruntForm.quantite.$pristine }">
								<div class="col-sm-3">
									<label class="col-md-12 control-label"
										style="text-align: right;">Quantite</label>
								</div>
								<div class="col-md-4  inputGroupContainer">
									<div class="input-group">
										<span style="background: #3c7cdd;background-color: rgb(11, 147, 189); color: aliceblue;"
											class="input-group-addon"><i
											class="glyphicon glyphicon-paperclip"></i></span> <input
											style="width: 150%; height: 40px;" min="1" max="{{nbrMax}}"
											name="quantite" placeholder="nombre souhaité"
											class="form-control" type="number" ng-model="nbr"
											ng-pattern="quantiteNbr" ng-minlength="1" required>

									</div>
									<p
										ng-show="empruntForm.quantite.$invalid && !empruntForm.quantite.$pristine"
										class="help-block">
										{{msgQuantite}}{{nbrMax}}
									</p>
								</div>
							</div>

							<!-- champs Prix-->
									
										<div class="form-group row flex-v-center"
											ng-class="{ 'has-error' : empruntForm.prix.$invalid && !empruntForm.prix.$pristine }">
										<div class="col-sm-3">
											<label class="col-md-12 control-label"
												style="text-align: right;">Prix en DH</label>
										</div>
											<div class="col-md-4  inputGroupContainer">
												<div class="input-group">
													<span style="background: #3c7cdd; background-color: rgb(11, 147, 189); color: aliceblue;"
														class="input-group-addon"><i
														class="glyphicon glyphicon-usd"></i></span> <input
														style="width: 150%; height: 40px;" name="prix"
														placeholder="prix d'emprunt en DH" class="form-control"
														type="number"  ng-model="prix" ng-pattern="prixNbr"
														ng-minlength="1" required>
												</div>
										<p
										ng-show="mode==1"
										class="error">
										Attention, le ou les numéros des lignes suivantes sont erronés
									</p>
											</div>
										</div>

									<!-- champs De Retrour-->
										<div class="form-group row flex-v-center"
											ng-class="{ 'has-error' : empruntForm.date_retour.$invalid && !empruntForm.date_retour.$pristine }">
										<div class="col-sm-3">
											<label class="col-md-12 control-label"
												style="text-align: right;">Date de Retour</label>
										</div>
										
											<div class="col-md-4">
												<div class='input-group date' id='datetimepicker2'>
													<span style="background: #3c7cdd; background-color: rgb(11, 147, 189); color: aliceblue;"
														class="input-group-addon"><i
														class="glyphicon glyphicon-calendar"></i></span> <input
														style="width: 150%; height: 40px;" type="date"
														name="date_retour" class="form-control" min="{{jour}}"
														ng-model="emprunt.dateRetourPrevu" required />
												</div>
											</div>
										</div>
										<!-- Button -->
										<div class="form-group row flex-v-center">
											<label class="col-sm-3 control-label"></label>
											&nbsp&nbsp&nbsp
												<button class="btn btn-outline-primary" type="submit"
													ng-click="ajouterMateriel()"
													ng-disabled="empruntForm.$invalid">
													Ajouter <span class="glyphicon glyphicon-send"></span>
												</button>&nbsp&nbsp&nbsp
												<button type="button" ng-click="deselect()" class="btn btn-outline-success"><span class="glyphicon glyphicon-erase"></span> Vider</button>
											</div>
										
				
								</fieldset>
							</form>
						</div>
					</div>

				</div></div></div></div>
								<div class="panel panel-default">
					<div class="panel-body">
								<div class="card col-sm-4">
									<div class="card-body">
										<label style="font-size: 13px;">Nom Client:</label> <label
											style="color: rgb(75, 116, 230); font-size: 13px;">{{name}}</label></br>
										<label style="font-size: 13px;">Date d'emprunt:</label> <label
											style="color: rgb(75, 116, 230); font-size: 13px;">{{emprunt.dateEmprunt}}</label></br>
										<label style="font-size: 13px;">Date de Retour prevu:</label>
										<label style="color: rgb(75, 116, 230); font-size: 13px;">{{emprunt.dateRetourPrevu}}</label></br>
										<label style="font-size: 13px;">Prix Total:</label> <label
											style="color: rgb(75, 116, 230); font-size: 13px;">{{emprunt.prixTotal}}
											DH</label></br>
									</div>
								</div>
								<div class="col-sm-8">
<table  class="table table-borderless table-striped table-earning" style="margin-bottom: 5px; margin-top:0px" >
	<thead>
		<tr>
		    <th>#</th>
			<th>Designation</th>
			<th>Date d'Ajout</th>
			<th>Etat Materiel</th>
			<th>Reference</th>
			<th></th>
			
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="m in materielsAemprunte">
		     <td></td>
			<td>{{m.designation}}</td>
			<td>{{m.dateAjoutMateriel}}</td>
			<td>{{m.etatMateriel}}</td>
			<td>{{m.reference}}</td>
			<td><p data-placement="top" data-toggle="tooltip" title="Delete">
					<button class="btn btn-danger btn-xs" data-title="Delete"
						data-toggle="modal" data-target="#delete"
						ng-click="removeMateriel($index)">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</p></td>
		</tr>
	</tbody>
	<tfoot style="background-color: rgb(220, 227, 230);">
    <tr>
    <td></td>
      <td><button type="submit" class="btn btn-xs btn-primary" ng-click="ajouterEmprunt()">Enregistrer<span class="glyphicon glyphicon-send"></span></button> 
      <button type="sublit" class="btn btn-xs btn-danger" ng-click="annuler()"> <span class="class="glyphiconglyphicon-trash"></span>Annuler</button></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
</table>
</div>
</div>


<!-- <div style="margin-top: 20px;">
	<button type="submit" class="btn  btn-primary"
	ng-click="ajouterEmprunt()">
	Enregistrer<span class="glyphicon glyphicon-send"></span>
</button>
<button type="sublit" class="btn  btn-danger" ng-click="annuler()">
	<span class="class="glyphiconglyphicon-trash"></span>Annuler
</button> -->
</div>
