
<div  class="form-grop">
  <form name="myForm">
   <label for="mySelectClient">
 Client
</label>
<select name="mySelectClient" id="mySelect"
      ng-options="option.nomClient  + ' ' + option.prenomClient for option in clients track by option.idClient"
      ng-model="client"></select> 
  </form>
  <hr>
<!--   <tt>Client = {{client.emprunts}}</tt><br/> -->
  
  
</div>
<div class="container">

		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>dateEmprunt</th>
					<th>date Retour Prevu</th>
					<th>date Retour</th>
					<th>status</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="emprunt in client.emprunts" class="circle">
					<td>{{ emprunt.idEmprunt }}</td>
					<td>{{ emprunt.dateEmprunt | date:'dd/MM/yyyy' }}</td>
					<td>{{ emprunt.dateRetourPrevu | date:'dd/MM/yyyy' }}</td>
					<td>{{ emprunt.dateRetour | date:'dd/MM/yyyy' }}</td>
					<td ng-class="getStatus(emprunt)" >
					
					</td>
				</tr>
			</tbody>

		</table>
	</div>
	