<div class="container" style="margin-top: 20px;">
<div class="card " style="box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;">
 <div class="card-header text-white bg-info" style="text-align: center;">
   <h3> Enregitrements des retours de prets</h3>
  </div>
<div>
<div class="card-body formulaire" style="padding: 15px;">

<form name="formNewPret" novalidate>
<div class="alert alert-success" ng-show="msgClient" style="text-align: center;">
					{{msgClient}}

					</div>
<br>
	<div class="row">
	<div class="col-md-12" style="text-align: center;">
		<label for="mySelectClient" style="margin-right: 15px;"> <strong>Client
				:</strong>
		</label> 
		<select name="mySelectClient" id="mySelect"
			ng-options="option.nomClient  + ' ' + option.prenomClient for option in clients track by option.idClient"
			ng-model="client" ng-change="clientHasChanged(client)"></select>
</div>
	</div>
	<br>
	<div class="row">
	<label class="col-md-2" style="margin-right: 15px;">Numero emprunt : </label> 
	<div class="col-md-6" > {{slctEmprunt.idEmprunt}}</div>
	
</div>
<br>
<div class="row">
	<label class="col-md-2">Etat :</label> <input type="text"
		 class="form-control col-md-6" ng-model="slctEmprunt.etatEmprunt"
		name="etatEmprunt" placeholder="etat emprunt" required>
		 <span class="error col-md-4" ng-show="formNewPret.etatEmprunt.$error.required && formNewPret.etatEmprunt.$dirty " >l'etat est requis </span>
         <span class="good col-md-4" ng-show="formNewPret.etatEmprunt.$valid"> <i class="fa fa-check" aria-hidden="true"></i> </span>
		

</div>
<br>
	<div ng-if="ifRetard(slctEmprunt)" class="row">
		<label class="col-md-2">Cause retard :</label>
		 <input type="text" class="form-control col-md-6" 
			ng-model="slctEmprunt.causeRetardEmprunt" name="causeRetard"
			placeholder="cause retard" required>
			<span class="error col-md-4" ng-show="formNewPret.causeRetard.$error.required && formNewPret.causeRetard.$dirty " >cause est requis </span>
         <span class="good col-md-4" ng-show="formNewPret.causeRetard.$valid"> <i class="fa fa-check" aria-hidden="true"></i> </span>
		
			
	</div>
<div></div>
<br>

<table id="materiel" class="table table-borderless table-striped table-earning" >
	<thead >
		<tr>
			<th>reference</th>
			<th>designation</th>
			<th>etatMateriel</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="materiel in slctEmprunt.materiels">
			<td>{{ materiel.reference }}</td>
			<td>{{ materiel.designation}}</td>
			<td>
			<div ng-if="!materiel.modeEdit">{{ materiel.etatMateriel}}</div>
			<select name="selectEtatMateriel" ng-if="materiel.modeEdit"
			ng-options="etat for etat in etaMaterials"
			ng-model="selectEtatMateriel" ng-change="etatHasChanged(selectEtatMateriel)"></select>
			</td>
			<td>
				<button class="btn" ng-click="editer(materiel)" ng-if="!materiel.modeEdit">
					<i class="fa fa-pencil" ></i>
				</button>
								<button class="btn" ng-click="confirmerEditer(materiel)" ng-if="materiel.modeEdit">
					<i class="fa fa-check-square-o" aria-hidden="true" style="color: green;"></i>
				</button>
								<button class="btn" ng-click="annulerEditer(materiel)" ng-if="materiel.modeEdit">
					<i class="fa fa-ban" aria-hidden="true" style="color: red;"></i>
				</button>
				
				
 

			</td>
		</tr>
	</tbody>
	</table>
	<br>
	            <div class="row">
	        <div class="col-md-12" style="text-align: center;">
	<button type="submit" class="btn btn-success" type="button"
		ng-click="addRetourPret()" ng-disabled="formNewPret.$invalid">Save</button>
 <button class="btn btn-secondary"  ng-click="annulerPret()" >Annuler</button>
</div></div>
</form>
</div>
</div>
</div>
<br><br>
<table id="empruntNnretourne" class="table table-borderless table-striped table-earning">
	<thead>
		<tr>
			<th>#</th>
			<th>dateEmprunt</th>
			<th>date Retour Prevu</th>
			<th>date Retour</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="emprunt in empruntsNnRetourne">
			<td>{{ emprunt.idEmprunt }}</td>
			<td>{{ emprunt.dateEmprunt | date:'dd/MM/yyyy' }}</td>
			<td>{{ emprunt.dateRetourPrevu | date:'dd/MM/yyyy' }}</td>
			<td>{{ emprunt.dateRetour | date:'dd/MM/yyyy' }}</td>
			<td>
				<button class="btn" ng-click="empruntSelected(emprunt)">
					<i class="fa fa-eye"></i>
				</button>


			</td>
		</tr>
	</tbody>
	</table>
	
	</div>
	
	
	